BETTER_AUTH_SECRET=efb595b605fda781fa734ee3869c20006d1686bdaf9720c74ba72eb8f20f83db
DATABASE_URL_PROD=postgresql://postgres:randompassword@postgres:5432/perb_db
DATABASE_URL=postgresql://postgres:randompassword@localhost:5432/perb_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=randompassword
POSTGRES_DB=perb_db
TIMEZONE=Asia/Bangkok
POSTGRES_PORT=5432
APP_PORT=3000
GOOGLE_CLIENT_ID=123456789012-abcdefghijklmnopqrstuvwxyz123456.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-abcdefghijklmnopqrstuvwxyz1234

# Network URL สำหรับ mobile development (Tauri iOS/Android)
# ใช้คำสั่ง `ifconfig | grep "inet "` เพื่อหา IP ของเครื่อง
BETTER_AUTH_URL=http://192.168.1.x.x:3000
NEXT_PUBLIC_API_URL=http://192.168.x.x:3000
