BETTER_AUTH_SECRET=your-secret-key
DATABASE_URL_PROD=postgresql://postgres:randompassword@postgres:5432/perb_db
DATABASE_URL=postgresql://postgres:randompassword@localhost:5432/perb_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=randompassword
POSTGRES_DB=postgres
TIMEZONE=Asia/Bangkok
POSTGRES_PORT=5432
APP_PORT=3000

# Network URL สำหรับ mobile development (Tauri iOS/Android)
# ใช้คำสั่ง `ifconfig | grep "inet "` เพื่อหา IP ของเครื่อง
NEXT_PUBLIC_API_URL=http://192.168.x.x:3000
