{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "importOrder": [
        "^server-only$",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "^(.*).css$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": [
        "typescript",
        "classProperties",
        "decorators-legacy",
        "jsx"
    ],
    "endOfLine": "lf"
}